Flask>=3.0.3
Flask-WTF>=1.2.1
gunicorn>=21.2.0
google-api-python-client==2.108.0
google-auth-oauthlib==1.2.0
requests>=2.32.4
sqlite-web>=0.5.6
beautifulsoup4>=4.14.2
python-dateutil>=2.9.0
pytz>=2024.1
bleach>=6.1.0
